<nav>
    <div class="nav-wrapper teal">
        <a href="{{ path('homepage') }}" class="brand-logo">Disney's Time !</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Sort by name</a></li>
            <li><a href="#">Sort by wait times</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Sort by name</a></li>
            <li><a href="#">Sort by wait times</a></li>
        </ul>
    </div>
</nav>
