{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <table data-search="true" data-toggle="table">
            <thead>
            <tr>
                <th data-sortable=true scope="col">Attraction</th>
                <th data-sortable=true scope="col">Attente</th>
                <th data-sortable=true scope="col">FastPass</th>
                <th data-sortable=true scope="col">Single Rider</th>
                <th data-sortable=true scope="col">Statut</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
