{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-striped table-dark table-hover">
<thead>
<tr>
    <th>Attraction</th>
    <th>Attente</th>
    <th>FastPass</th>
    <th>Statut</th>
</tr>
</thead>
<tbody>
<tr>
    {% for entry in entries %}
        {% if entry.name is defined %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.waitTime.postedWaitMinutes }} min</td>
                <td class="{{ entry.waitTime.fastPass.available ? 'bg-success' : 'bg-secondary' }}"></td>
                <td>{{ entry.waitTime.status }}</td>
            <tr>
        {% endif %}
    {% endfor %}
</tr>
</tbody>
</table>
{% endblock %}
